{% extends "base.html" %}

{% block title %}Mi BLOG{% endblock title %}

{% block content %}
<h1>Bienvenido a Mis Posts</h1>
<p>Algunos posts acontinuación:</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Contenido</th>
            <th>Fecha de Creación</th>
            <th>opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <th>
                <a href="{{ url_for('get_one_post', post_id = post['id'] ) }}">{{ post["id"] }}</a>
                
                
            </th>
            <th>{{ post["title"] }}</th>
            <th>{{ post["content"] }}</th>
            <th>{{ post["created"] }}</th>
            <th>
                <a class="btn btn-warning btn-sm" href="{{ url_for('edit_one_post', post_id = post['id'] ) }}">
                    Editar</a>
                
                    <form action="{{ url_for('delete_one_post', post_id = post['id'] ) }}" method="POST">
                        <button type="submit" onclick="return confirm('estas seguro de eliminar')" 
                        class="btn btn-danger btn-sm">Eliminar</button></form>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a role="button" class="btn btn-primary" href="{{ url_for('create_one_post' ) }}">Crear</a>
                
{% endblock content %}